<!DOCTYPE HTML>
{% extends 'base.html' %}


{% block content %} 
      <!-- <div id="wrapper"> -->
<h1>Login </h1>
 {% if user and not user.is_anonymous and not login_required %}
               
  {% else %}        
          
                {% if invalid %}
                        <p style="color:red; font-size:15px;">* Invalid Username/Password</p>
               {% endif %}
                
                  <!-- <div id = "my_form"> -->
                    <form action="" method="POST">
                        {{ form.as_p }}
                        <button class="button" name ="login" type="submit">Login</button><br/><br/>
                        <a style="padding-right : 20px;" href="{% url 'website:userregister' %}" class="btn btn btn-primary">Create an Account</a>
                        {% csrf_token %}
                    </form>

  {% endif %}   

{% endblock %}