{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<li><a href = '{% url "website:table" %}'> Home</a></li>
{% if user and not user.is_anonymous %}
<li><a href="{% url 'website:table' %}">{{ user.get_full_name|default:user.username }}</a>
<li><a href="{% url 'auth:logout' %}?next=/table">Logout</a></li>
{% else %}       
<li><a href="{% url 'website:user_login' %}" >Login to book a slot</a></li>
{% endif %}


<form method ='POST' action = ""> {% csrf_token %}
Slot reuestor  : {{instance.user}}</br>
Slot conductor : {{instance.slot.user}}</br>
About requestor : {{instance.address}}</br>
No. of Participants : {{instance.participants}}</br>

</br>

<input type="submit" id="approve" value="Approve" name="approve"/>
<input type="submit" id="disapprove" value="Disapprove" name="disapprove"/>

</form>
{% endblock %}