{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<li><a href = '{% url "website:table" %}'> Home</a></li>
{% if user and not user.is_anonymous %}
<li><a href="{% url 'website:table' %}">{{ user.get_full_name|default:user.username }}</a>
<li><a href="{% url 'auth:logout' %}?next=/table">Logout</a></li>
{% else %}       
<li><a href="{% url 'website:user_login' %}" >Login to book a slot</a></li>
{% endif %}


<h3>Add Slots</h3>

<form method ='POST' action = ""> {% csrf_token %}

<table id = "myTable" >

	<colgroup>
        <col width="5%" />
        <col width="20%" />
        <col width="10%" />
        <col width="30%" />
        <col width="10%" />
        <col width="10%" />
           </colgroup>
	<th> Select</th>
    <th>Workshop</th>
    <th> Date </th>
    <th> Admin </th>
    <th> Status </th>
    <th>Request</th>
	{% for slot in slots %}
	<tr>
		<td> {% if user.id == slot.user.id %} <input type = "checkbox" name="delete_slot" value = {{slot.id}}></input> {% endif %}</td>
		<td>{{slot.workshop.title}}</td>
		<td>{{slot.dates}} </td>
		<td>{{slot.user}} </td>
		<td>{{slot.status}} </td>	
		<td>{% if slot.status == 'P' or slot.status == 'NA'%}<a href = '{% url "website:slot_details" slot.id %}'>view </a>{% endif %}</td>
	</tr>
{% endfor %}
</table>


{{form.as_p}}
<input type="submit" id="delete" value="Delete" name="delete"/>

<input type = 'submit' value = "Add Slot" id = "add_slot" name= "add_slot"></input>

</form>

{% endblock %}