{% extends "base.html" %}
{% block head %}
Add Workshop
{% endblock %}

{% block content %}
<h1>Register</h1>


{% if email_registered %}
          <center>
            <div class="alert" style="width:300px;height:50px;">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <p>Email ID is already registered !</p>
            </div>
            <p style="line-height:5px;">Have you already logged in using social logins ?</p>
            <p style="line-height:5px;">or</p>
           
          </center>
          {% endif %}
         {% if registration_complete %}
          <p> Your Account is Created Successfully !</p>
           {% endif %}
          <!-- <div class = "col-md-7">                   -->
            <!-- <div id = "my_form"> -->
            <form action="" method="POST">  {% csrf_token %}
                  {% for field in form %} 
                  
                  <p>{{ field.label}}
                   {% if field.field.required %} <span style="color:red;">*</span> {% endif %}
                    {{ field }}</p>
                     <a style="color:red; ">{{ field.errors }}</a>
                  {% endfor %}
                <br>
                    <button class="button" type="submit" >SignUp</button>
                    <a class="btn btn-primary" href="{% url 'website:user_login' %}"><u>I have an account</u></a>
                <!-- </div> -->
               
            </form>
          <!-- </div> -->
        <!-- </div> -->
        
              </section>

          </div>
        

{% endblock   %}